<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border=1>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <% for(let column in columns){ %>
                <th><%- columns[column] %></th>
            <% } %>
        </tr>
    <% for(let data in allData){ %>
        <tr>
            <th><%- allData[data].FullName %></th>
            <th><%- allData[data].Email %></th>
            <% for(let column in columns){ %>
                <th><%- allData[data][columns[column]] %></th>
            <% } %>
        </tr>
    <% } %>
    </table>
    <a href="/">back to normal table</a>
</body>
</html>